{{!-- template engine --}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body style="display: grid;
    place-items: center; 
     width: 100vw;  ">
    {{>nav}}
    <h1>mern backend website, in template itterals</h1>
    
</body>
</html>