{{!-- template engine --}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body style="display: grid;
    place-items: center; 
     width: 100vw;  ">

    {{>nav}}
    {{!-- <h1>mern backend website, in template itterals</h1> --}}
    <h4 class="mt-4"> Welcome to employee portal!!!......</h4>
    <img src="https://images.pexels.com/photos/8084689/pexels-photo-8084689.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=300" alt="">
    
</body>
</html>