<div class="nav" style="display: flex; justify-content: space-around; margin:20px; background:purple; padding : 20px 50px ; width: 70vw">
    {{!-- <div class="nav_item">
        <a class="nav_link" href="/">Home</a>
    </div> --}}
    <div class="nav_item">
        <a class="nav_link" href="/login">Login</a>
    </div>
    <div class="nav_item">
        <a class="nav_link" href="/registration">Registration</a>
    </div>
</div>